.LoginForm{ 
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    height: calc(100vh - 57px);
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 auto 30px;
  max-width: 90%;
  padding: 50px 50px 50px 51px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ 
    text-align:center;
    padding-top: 30px;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.switch {
  text-align: left; margin-bottom:30px;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

@media (min-width: 450px){
    .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 0 auto 30px;
      max-width: 75%;
      padding: 50px 60px 60px 61px;
    }
}

@media (min-width: 750px){
    .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 0 auto 30px;
      max-width: 75%;
      padding: 50px 70px 70px 71px;
    }
}

@media (min-width: 768px){
    .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 0 auto 30px;
      max-width: 65%;
      padding: 50px 70px 70px 71px;
    }
}

@media (min-width: 998px){
    .main-div {
      background: #ffffff none repeat scroll 0 0;
      border-radius: 2px;
      margin: 0 auto 30px;
      max-width: 45%;
      padding: 50px 70px 70px 71px;
    }
}
